h1{
    list-style:none;
    padding:20px 30px 20px 30px;
    color:#E4D8DC
}
ul{
    display:flex;
}
.header{
    height:70px;
    background-color:#93B5C6
}
.body{
    background-color:#C9CCD5
}