body{
    background-color: #F0F0F0
}
li{
    list-style:none;
    padding:20px 30px 20px 30px;
    }
 ul{
        display:flex;
    }
    .header{
        background-color: #FFE8DF
        height 70px;
    }